<nav class="navbar navbar-expand-lg navbar-dark bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-size: 25px;color: rgb(2, 44, 21); font-weight: bold;">Loan<span style="color: rgb(34, 243, 128);font-weight: bold;">Aware</span></a>
        <button class="navbar-toggler justify-content-end " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon" style="background-color: rgb(2, 44, 21);"></span>
        </button>
        
        <div class="collapse navbar-collapse  justify-content-center " id="navbarNavAltMarkup">
            <div class="navbar-nav" style="font-size: 20px; ">
                
                <a class="nav-link" href="{% url 'home' %}" style="color: rgb(2, 44, 21);">Home</a>
                <a class="nav-link" href="#footer" style="color: rgb(2, 44, 21);">About</a>
                <a class="nav-link" href="{% url 'business' %}" style="color: rgb(2, 44, 21);">Business</a>
                <a class="nav-link" href=" {% url 'education' %}" style="color: rgb(2, 44, 21);">Education</a>
                <a class="nav-link" href=" {% url 'other' %}" style="color: rgb(2, 44, 21);">Others</a>
                <a class="nav-link" href="{% url 'business_search' %}" style="color: rgb(2, 44, 21);">Assistance</a>
                {% if request.user.is_authenticated %}
                <a class="nav-link "  href="{% url 'logout' %}" style="color: rgb(2, 44, 21);" id="login">Logout</a>
                <a class="nav-link " href="{% url 'profile' %}"  id="signup">{{request.user}}</a>
                {% else %}
                <a class="nav-link "  href="{% url 'login' %}" style="color: rgb(2, 44, 21);" id="login">Login</a>
                <a class="nav-link " href="{% url 'register' %}"  id="signup">Signup</a> 
                {% endif %}
            </div>
        </div>
    </div>
</nav>
