{% load static %}

<h1>How we works ?</h1>
<h3>This is a process, how you can get loan for your self.</h3>
<div class="pannel1">
  <div class="pa1">
    <p>
      <span class="h" style="font-weight: bold"
        >User Registration/Login:</span
      ><br />
      <span class="para">
        Users register on the platform by providing their family details,
        including the age and education level of each family member. Each
        family will have one registered member who will be responsible for
        accessing loan information for the entire family.</span
      >
    </p>
  </div>
  <div class="pa1">
    <img src="{% static 'images/image 5.png' %}" alt="" />
  </div>
</div>

<div class="pannel1">
  <div class="pa1">
    <img src="{% static 'images/image 6.png' %}" alt="" style="margin-left: 5%" />
  </div>
  <div class="pa1">
    <p>
      <span class="h" style="font-weight: bold"
        >Age and Education-Based Messaging System:</span
      ><br />
      <span class="para">
        The platform utilizes an automated messaging system to send
        notifications to registered users about relevant loan schemes based
        on the ages and education levels of their family members.</span
      >
    </p>
  </div>
</div>

<div class="pannel1">
  <div class="pa1">
    <p>
      <span class="h" style="font-weight: bold">Application</span><br />
      <span class="para">
        The borrower submits a loan application to the bank, either in
        person, online, or through other channels. The application includes
        personal and financial information, such as income, employment
        history, credit score, and the purpose of the loan.</span
      >
    </p>
  </div>
  <div class="pa1">
    <img src="{% static 'images/image 5 (1).png'%}" alt="" />
  </div>
</div>

<div class="pannel1">
  <div class="pa1">
    <img src="{% static 'images/image 6 (1).png'%}" alt="" style="margin-left: 5%" />
  </div>
  <div class="pa1">
    <p>
      <span class="h" style="font-weight: bold"
        >Documentation and Verification</span
      ><br />
      <span class="para">
        The bank requests supporting documents from the borrower, such as
        identification proof, income statements, bank statements, and
        collateral details (if applicable). The bank verifies the
        information provided to assess the borrower's creditworthiness and
        eligibility for the loan.</span
      >
    </p>
  </div>
</div>
<div class="pannel1">
  <div class="pa1">
    <p>
      <span class="h" style="font-weight: bold">Credit Assessment</span
      ><br />
      <span class="para">
        The bank conducts a credit assessment to evaluate the borrower's
        creditworthiness and ability to repay the loan. This process
        involves analyzing the borrower's credit history, income stability,
        debt-to-income ratio, and other factors.</span
      >
    </p>
  </div>
  <div class="pa1">
    <img src="{% static 'images/image 7.png'%}" alt="" />
  </div>
</div>

<div class="pannel1">
  <div class="pa1">
    <img src="{% static 'images/Speech_bubble.png'%}" alt="" style="margin-left: 5%" />
  </div>
  <div class="pa1">
    <p>
      <span class="h" style="font-weight: bold">Loan Approval</span><br />
      <span class="para">
        If the borrower meets the bank's lending criteria and passes the
        credit assessment, the loan is approved. The bank determines the
        loan amount, interest rate, repayment term, and any associated
        fees.</span
      >
    </p>
  </div>
</div>