{% extends 'loan/layouts/main.html' %}
{% load static %}
{% block title %}
<title>LoanAware</title>
{% endblock title %}

{% block content %}
<div class="pa2" style="margin-top: 100px;">
    <h1>Welcome {{request.user}}</h1>
</div>

<div class="container" style="margin-top: 70px;" id="business">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-3">Your are eligible for this Loans</h2>
        </div>
        {% for item in pro %}
        <div class="col-md-4 col-lg-3">
            <div class="card my-3" >
                <div class="card-body">
                    <h5 class="card-title "style="color: rgb(2, 44, 21);" >{{ item.name | upper }}</h5>
                    <p class="card-text"><span >Interest :{{item.interest}} % </span><br><span>Amount : Rs. {{item.amount | stringformat:"d"}} /-</span></p>
                    <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#modal{{ forloop.counter }}" style="background-color: rgb(2, 44, 21); color: #fff;font-weight: bold;">
                        View More
                    </button>
                   
                    <div class="modal fade" id="modal{{ forloop.counter }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modal{{ forloop.counter }}Label" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal{{ forloop.counter }}Label">{{ item.name }}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  
                                </div>
                                <div class="modal-body" style="width: 90%; position: relative; left: 5%;">
                                    <h2>Details</h2>
                                    <p style="width: 100%;text-align: justify;">{{item.details}}</p>
                                    <h2>Benefit</h2>
                                    <p style="width: 100%;text-align: justify;">{{item.benifit}}</p>
                                    <h2>Eligible</h2>
                                    <p style="width: 100%;text-align: justify;">{{item.eligible}}</p>
                                    <h2>Application</h2>
                                    <p style="width: 100%;text-align: justify;">{{item.application}}</p>
                                    <h2>Documents</h2>
                                    <p style="width: 100%;text-align: justify;">{{item.documents}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<br><br>


{% endblock content %}
